*{
    margin:0px;
    all: none;
    text-decoration: none;
}

.wrapper{
    width: 100%;
    height: 100%;

    margin:0px;
    padding:0px;

    background-color: green;

    display:grid;
    grid-template-areas:"header header header header header"
                        "leftSidebar mainContent mainContent mainContent rightSidebar"
                        "footer footer footer footer footer";
    grid-template-rows: 2fr 4fr 1fr;
}
/* */
.header{
    grid-area: header;
    
    display: grid;
    grid-template-areas: "headerNav headerNav headerNav headerNav headerNav"
                         ". headerArea headerArea headerArea ."
                         ". . . . .";
    grid-template-rows: 1fr 3fr 1fr;

    min-height: 600px;

    background-color:#1F1F1F;
    text-align: center;

    border-spacing: 500px;
}

.headerNav{
    position: fixed;

    grid-area: headerNav;
    background-color: #1F1F1F;
    display: grid;

    grid-template-areas: "headerLogo headerOptions";
    grid-auto-columns: 300px 1fr;

    width: 100%;

    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}

.headerLogo{
    grid-area: headerLogo;

    display: flex;

    align-items: center;
    justify-content: center;
}

.headerNav h1 {
    grid-area: headerNavH1;

    display: flex;

    justify-content: center;
    align-items: center;

}

.headerNav img{
    grid-area: headerNavImg;
    

    width:64px;
}

.headerOptions{
    grid-area: headerOptions;
}

.headerArea{
    grid-area: headerArea;

    display: flex;

    justify-content: center;
    align-items: center;
}

.headerImage{
    grid-area: headerImage;

    display: flex;

    align-items: center;
    justify-content: center;
}

.headerImage img{
    width: 400px;
    min-width: 400px;
    min-height: 400px;

    animation: rotation 30s infinite linear;
}

.headerWelcome{
    grid-area: headerWelcome;

    display:flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.headerWelcome h1, .headerWelcome h2{
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    font-family: 'Roboto', sans-serif;

    margin:0px;
    margin-left: 32px;
}

.headerWelcome h1{
    font-size: 128px;
    font-weight: 900;

    color:gold;
}

.headerWelcome h2{
    font-size:72px;
    font-weight: 800;

    color: palevioletred;
}

.blinkingCursor { 
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-duration: 1s;
  
    display: inline-block;
    
    color: #E0E0E0;
}

.headerLink:visited{
    color: inherit;
}
  
@keyframes blinker { 
from { opacity: 1.0; } to { opacity: 0.0; }
}

@keyframes rotation {
from {
    transform: rotate(0deg);} to { transform: rotate(359deg); }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* */
.leftSidebar{
    grid-area: leftSidebar;
    
    background-color: #1F1F1F;
    text-align: center;
    min-width: 10px;
}

.rightSidebar{
    grid-area: rightSidebar;
    background-color: #1F1F1F;
    text-align: center;
    min-width: 10px;

}
/*MAIN CONTENT*/
.mainContent{
    border-top: 1px solid #3f3c3c;
    
    grid-area: mainContent;
   
    display: grid;

    grid-template-areas: "d1 d1 d1 d1 d1"
                         ". d2 . . ."
                         ". . . . ."
                         ". . . . .";
    
    grid-template-columns: 0.5fr 2fr 1fr 2fr 0.5fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;

    background-color: #2b2a2a;

    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;

    min-width: 600px;
}

.d1 {
    grid-area: d1;

    display:flex;

    align-items: center;
    justify-content: center;
}

.d2{
    grid-area: d2;
}

/* */
.footer{
    grid-area: footer;
    background-color:teal;
    text-align: center;
}



@media only screen and (min-width: 980px) {
    .element {
      all: none;
    }
}